<div class="pageContainer" #scrollMe>
  <!-- PAGE ONE -->
  <div class="pageHome" *ngIf="page == 'page1'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MerrileeChalliss']">
          <img src="/images/thumbnails/merrilee.jpg" alt=""/>
          <span><p class="name">Merrilee Challiss</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AmyVaughn']">
          <img src="/images/thumbnails/amya.jpg" alt=""/>
          <span><p class="name">Amy Vaughn</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MrMarbles']">
          <img src="/images/thumbnails/mrmarblesa.jpg" alt=""/>
          <span><p class="name">Mr.Marbles</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CarolineErb']">
          <img src="/images/thumbnails/caroline_erb.jpg" alt=""/>
          <span><p class="name">Caroline Erb</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ByronSonnier']">
          <img src="/images/thumbnails/byronartist.jpg" alt=""/>
          <span><p class="name">Byron Sonnier</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/WilliamWebb']">
          <img src="/images/thumbnails/williamwebb.jpg" alt=""/>
          <span><p class="name">William Webb</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SarahRehmert']">
          <img src="/images/thumbnails/sarah.jpg" alt=""/>
          <span><p class="name">Sarah Rehmert</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CDSacco']">
          <img src="/images/thumbnails/chrissaccoa.jpg" alt=""/>
          <span><p class="name">C.D. Sacco</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/KatelynLedford']">
          <img src="/images/thumbnails/katelynhome.jpg" alt=""/>
          <span><p class="name">Katelyn Ledford</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Rizzo']">
          <img src="/images/thumbnails/rizzoart.jpg" alt=""/>
          <span><p class="name">Rizzo</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
  </div>

  <!-- PAGE TWO -->
  <div class="pageHome" *ngIf="page == 'page2'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/GaijinX']">
          <img src="/images/thumbnails/gaijinart.jpg" alt=""/>
          <span><p class="name">Gaijin X</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/HannahBarrett']">
          <img src="/images/thumbnails/hannaa.jpg" alt=""/>
          <span><p class="name">Hannah Barrett</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ChristinaDaniel']">
          <img src="/images/thumbnails/christinaart.jpg" alt=""/>
          <span><p class="name">Christina Daniel</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AndreaReally']">
          <img src="/images/thumbnails/andreaa.jpg" alt=""/>
          <span><p class="name">Andrea Really</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LeahThornton']">
          <img src="/images/thumbnails/leaha.jpg" alt=""/>
          <span><p class="name">Leah Thornton</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LoganTanner']">
          <img src="/images/thumbnails/loganartist.jpg" alt=""/>
          <span><p class="name">Logan Tanner</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ReinsTarpley']">
          <img src="/images/thumbnails/reinsthumb.jpg" alt=""/>
          <span><p class="name">Reins Tarpley</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AlyssaHope']">
          <img src="/images/thumbnails/alyssathumbs.jpg" alt=""/>
          <span><p class="name">Alyssa Hope</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SaraRoberson']">
          <img src="/images/thumbnails/sara.jpg" alt=""/>
          <span><p class="name">Sara Roberson</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LucyCrookes']">
          <img src="/images/thumbnails/lucythumb.jpg" alt=""/>
          <span><p class="name">Lucy Crookes</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a>
          <div class="navCircle" [ngStyle]="{backgroundColor: activityColor1}" (click)="activeCircle1(); pageNav('nav1')"></div>
        </a>
        <a>
          <div class="navCircle" [ngStyle]="{backgroundColor: activityColor2}" (click)="activeCircle2(); pageNav('nav2')"></div>
        </a>
      </div>
  </div>
</div>
