<div class="pageContainer">
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MerrileeChalliss']">
          <img src="/images/thumbnails/merrilee.jpg" alt=""/>
          <span><p class="name">Merrilee Challiss</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AmyVaughn']">
          <img src="/images/thumbnails/amya.jpg" alt=""/>
          <span><p class="name">Amy Vaughn</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MrMarbles']">
          <img src="/images/thumbnails/mrmarblesa.jpg" alt=""/>
          <span><p class="name">Mr.Marbles</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CarolineErb']">
          <img src="/images/thumbnails/caroline_erb.jpg" alt=""/>
          <span><p class="name">Caroline Erb</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ByronSonnier']">
          <img src="/images/thumbnails/byronartist.jpg" alt=""/>
          <span><p class="name">Byron Sonnier</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/WilliamWebb']">
          <img src="/images/thumbnails/williamwebb.jpg" alt=""/>
          <span><p class="name">William Webb</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SarahRehmert']">
          <img src="/images/thumbnails/sarah.jpg" alt=""/>
          <span><p class="name">Sarah Rehmert</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CDSacco']">
          <img src="/images/thumbnails/chrissaccoa.jpg" alt=""/>
          <span><p class="name">C.D. Sacco</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/KatelynLedford']">
          <img src="/images/thumbnails/katelynhome.jpg" alt=""/>
          <span><p class="name">Katelyn Ledford</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Rizzo']">
          <img src="/images/thumbnails/rizzoart.jpg" alt=""/>
          <span><p class="name">Rizzo</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a [routerLink]="['/artists']">
          <div class="navCircle" [ngStyle]="{backgroundColor: activeCircle}"></div>
        </a>
        <a [routerLink]="['/artists/2']">
          <div class="navCircle" [ngStyle]="{backgroundColor: unactiveCircle}"></div>
        </a>
      </div>
  </div>
</div>
