<div class="pageContainer">
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/GaijinX']">
          <img src="/images/thumbnails/gaijinart.jpg" alt=""/>
          <span><p class="name">Gaijin X</p></span>
  				<span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/HannahBarrett']">
          <img src="/images/thumbnails/hannaa.jpg" alt=""/>
          <span><p class="name">Hannah Barrett</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ChristinaDaniel']">
          <img src="/images/thumbnails/christinaart.jpg" alt=""/>
          <span><p class="name">Christina Daniel</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AndreaReally']">
          <img src="/images/thumbnails/andreaa.jpg" alt=""/>
          <span><p class="name">Andrea Really</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LeahThornton']">
          <img src="/images/thumbnails/leaha.jpg" alt=""/>
          <span><p class="name">Leah Thornton</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LoganTanner']">
          <img src="/images/thumbnails/loganartist.jpg" alt=""/>
          <span><p class="name">Logan Tanner</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ReinsTarpley']">
          <img src="/images/thumbnails/reinsthumb.jpg" alt=""/>
          <span><p class="name">Reins Tarpley</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/AlyssaHope']">
          <img src="/images/thumbnails/alyssathumbs.jpg" alt=""/>
          <span><p class="name">Alyssa Hope</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SaraRoberson']">
          <img src="/images/thumbnails/sara.jpg" alt=""/>
          <span><p class="name">Sara Roberson</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LucyCrookes']">
          <img src="/images/thumbnails/lucythumb.jpg" alt=""/>
          <span><p class="name">Lucy Crookes</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a [routerLink]="['/artists']">
          <div class="navCircle" [ngStyle]="{backgroundColor: unactiveCircle}"></div>
        </a>
        <a [routerLink]="['/artists/2']">
          <div class="navCircle" [ngStyle]="{backgroundColor: activeCircle}"></div>
        </a>
      </div>
  </div>
</div>
