<div class="pageContainer">
  <div class="filterContainer">
    <div class="filter One">
      <p>Arts</p>
    </div>
    <div class="filter Two">
      <p>Music</p>
    </div>
    <div class="filter Three">
      <p>Community</p>
    </div>
    <div class="filter Four">
      <p>Gallery</p>
    </div>
  </div>
  <div class="eventContainer">
    <p class="eventTitle">The Loft Show</p>
    <p class="eventDescription">Schemas not only define the structure of your document and casting of properties, they also define document instance methods, static Model methods, compound indexes and document lifecycle hooks called middleware.</p>
    <div class="oneContainer">
      <p class="eventVenue">Saturn</p>
      <p class="eventTime">8pm</p>
    </div>
    <div class="twoContainer">
      <p class="eventAddress">123 road</p>
      <p class="eventPrice">$15</p>
      <p class="eventDate">October 31</p>
    </div>
  </div>
</div>
