<div class="pageContainer" autoscroll>
  <!-- PAGE ONE -->
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/BloodEquality']">
          <img src="/images/thumbnails/ourbloodhome.jpg" alt=""/>
          <span><p class="name">Blood Equality: </p></span>
  				<span><p class="blackCategory">A Fight for Human Rights</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/ArtErotica']">
          <img src="/images/thumbnails/chromacovehome.jpg" alt=""/>
          <span><p class="name">Art Erotica and the Censored South</p></span>
          <span><p class="category">Jonathan Patrick</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/Zyp']">
          <img src="/images/thumbnails/zyphome.jpg" alt=""/>
          <span><p class="name">Zyp</p></span>
    			<span><p class="category">Lee Panter</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Princess4Princess']">
          <img src="/images/thumbnails/princesshome2.jpg" alt=""/>
          <span><p class="name">PRINCE$$ 4 PRINCE$$</p></span>
  				<span><p class="category">Ahmad Jackson</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Boom']">
          <img src="/images/thumbnails/boom.jpg" alt=""/>
          <span><p class="name">BOOM!</p></span>
  				<span><p class="category">Short Film by Lily Siegel</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/LewisAndQuasar']">
          <img src="/images/thumbnails/lewishome.jpg" alt=""/>
          <span><p class="name">Lewis and Quasar</p></span>
          <span><p class="category">A Man of the Road</p></span>
        </a>
      </div>
    </div>
  </div>
</div>
