<div class="pageContainer">
  <!-- PAGE ONE -->
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/Heirloom']">
          <img src="/images/thumbnails/zebbietruck.jpg" alt=""/>
          <span><p class="name">Heirloom</p></span>
  				<span><p class="category">Food</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/PhoQueHuong']">
          <img src="/images/thumbnails/pho.jpg" alt=""/>
          <span><p class="name">Pho Que Huong</p></span>
  				<span><p class="category">Food</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/StreetSoul']">
          <img src="/images/thumbnails/carrigans.jpg" alt=""/>
          <span><p class="name">A Street Soul, Fine and Fried</p></span>
  				<span><p class="category">Food</p></span>
        </a>
      </div>
    </div>
  </div>
</div>
