<div class="pageContainer" #scrollMe>
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Girlpool']">
          <img src="/images/thumbnails/girlpool.jpg" alt=""/>
          <span><p class="name">Girlpool</p></span>
  				<span><p class="category">Blake Ells</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/TwelveWeeks']">
          <img src="/images/thumbnails/twelveweeks.jpg" alt=""/>
          <span><p class="name">Twelve Weeks of Winter</p></span>
  				<span><p class="category">Antonio Rodriguez</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/LivingColour']">
          <img src="/images/thumbnails/livingcolors.jpg" alt=""/>
          <span><p class="name">Corey Glover from Living Colour</p></span>
  				<span><p class="category">Blake Ells</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a (click)="showForm()">
          <img src="/images/thumbnails/subscribe.jpg" alt=""/>
          <span><p class="category">Blake Ells</p></span>
          <span><p class="category">Blake Ells</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/PerfumeGenius']">
          <img src="/images/thumbnails/perfumehome.jpg" alt=""/>
          <span><p class="name">Perfume Genius</p></span>
  				<span><p class="category">Blake Ells</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BikeJoustV']">
          <img src="/images/thumbnails/bikejousthome.jpg" alt=""/>
          <span><p class="name">Bike Joust V</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/HomewardBound']">
          <img src="/images/thumbnails/homeward.jpg" alt=""/>
          <span><p class="name">Homeward Bound</p></span>
  				<span><p class="category">Little Girl</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/BloodEquality']">
          <img src="/images/thumbnails/ourbloodhome.jpg" alt=""/>
          <span><p class="name">Blood Equality: </p></span>
  				<span><p class="blackCategory">A Fight for Human Rights</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/UpperRoom']">
          <img src="/images/thumbnails/upperroom.jpg" alt=""/>
          <span><p class="name">In The Upper Room</p></span>
    			<span><p class="category">Nicola Walls</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DonGero']">
          <img src="/images/thumbnails/dongero.gif" alt=""/>
          <span><p class="name">Don Gero Performs Wizarding</p></span>
    			<span><p class="category">Live At The Firehouse</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Boom']">
          <img src="/images/thumbnails/boom.jpg" alt=""/>
          <span><p class="name">BOOM!</p></span>
  				<span><p class="category">Short Film by Lily Siegel</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/Gon']">
          <img src="/images/thumbnails/gon.jpg" alt=""/>
          <span><p class="name">'Gon</p></span>
          <span><p class="category">Jonathan Patrick</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MerrileeChalliss']">
          <img src="/images/thumbnails/merrilee.jpg" alt=""/>
          <span><p class="name">Merrilee Challiss</p></span>
    			<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DieTrying']">
          <img src="/images/thumbnails/zerohome.jpg" alt=""/>
          <span><p class="name">DIE TRYING</p></span>
    			<span><p class="category">Sniper Streets</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a [routerLink]="['/home']">
          <div class="navCircle" [ngStyle]="{backgroundColor: activeCircle}"></div>
        </a>
        <a [routerLink]="['/home/2']">
          <div class="navCircle" [ngStyle]="{backgroundColor: unactiveCircle}"></div>
        </a>
      </div>
  </div>
</div>
