<div class="pageContainer" #scrollMe>
  <!-- PAGE ONE -->
  <div class="pageHome" *ngIf="page == 'page1'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/PerfumeGenius']">
          <img src="/images/thumbnails/perfumehome.jpg" alt=""/>
          <span><p class="name">Perfume Genius</p></span>
  				<span><p class="category">Blake Ells</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BikeJoustV']">
          <img src="/images/thumbnails/bikejousthome.jpg" alt=""/>
          <span><p class="name">Bike Joust V</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/HomewardBound']">
          <img src="/images/thumbnails/homeward.jpg" alt=""/>
          <span><p class="name">Homeward Bound</p></span>
  				<span><p class="category">Little Girl</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/BloodEquality']">
          <img src="/images/thumbnails/ourbloodhome.jpg" alt=""/>
          <span><p class="name">Blood Equality: </p></span>
  				<span><p class="blackCategory">A Fight for Human Rights</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/UpperRoom']">
          <img src="/images/thumbnails/upperroom.jpg" alt=""/>
          <span><p class="name">In The Upper Room</p></span>
    			<span><p class="category">Nicola Walls</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DonGero']">
          <img src="/images/thumbnails/dongero.gif" alt=""/>
          <span><p class="name">Don Gero Performs Wizarding</p></span>
    			<span><p class="category">Live At The Firehouse</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Boom']">
          <img src="/images/thumbnails/boom.jpg" alt=""/>
          <span><p class="name">BOOM!</p></span>
  				<span><p class="category">Short Film by Lily Siegel</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/Gon']">
          <img src="/images/thumbnails/gon.jpg" alt=""/>
          <span><p class="name">'Gon</p></span>
          <span><p class="category">Jonathan Patrick</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MerrileeChalliss']">
          <img src="/images/thumbnails/merrilee.jpg" alt=""/>
          <span><p class="name">Merrilee Challiss</p></span>
    			<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DieTrying']">
          <img src="/images/thumbnails/zerohome.jpg" alt=""/>
          <span><p class="name">DIE TRYING</p></span>
    			<span><p class="category">Sniper Streets</p></span>
        </a>
      </div>
    </div>
  </div>
  <!-- PAGE TWO -->
  <div class="pageHome" *ngIf="page == 'page2'">
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/AmyVaughn']">
          <img src="/images/thumbnails/amy.jpg" alt=""/>
          <span><p class="name">Amy Vaughn</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/PrideParade']">
          <img src="/images/thumbnails/prideweek.jpg" alt=""/>
          <span><p class="name">Pride Parade and Fest</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LostLands']">
          <img src="/images/thumbnails/lostlands.jpg" alt=""/>
          <span><p class="name">Lost Lands</p></span>
    			<span><p class="category">Bryan Atkinson</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CrackerPackers']">
          <img src="/images/thumbnails/crackerpackers.jpg" alt=""/>
          <span><p class="name">Cracker Packers</p></span>
    			<span><p class="category">Matthew MacPake</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/RallyAgainstTrump']">
          <img src="/images/thumbnails/trump.jpg" alt=""/>
          <span><p class="name">Rally Against Donald Trump</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/GumboGala']">
          <img src="/images/thumbnails/gumbo.jpg" alt=""/>
          <span><p class="name">Gumbo Gala 2017</p></span>
          <span><p class="category">Lee Panter</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/MrMarbles']">
          <img src="/images/thumbnails/mrmarbles.jpg" alt=""/>
          <span><p class="name">Mr.Marbles</p></span>
          <span><p class="category">Artist Showcase</p></span>
        </a>
      </div>
      <div class="col five">
        <img src="/images/thumbnails/vlad.jpg" alt=""/>
        <span><p class="name" style="color: white">vlad</p></span>
  			<span><p class="category">Reins Tarpley</p></span>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a>
          <div class="navCircle" [ngStyle]="{backgroundColor: activityColor1}" (click)="activeCircle1(); pageNav('nav1')"></div>
        </a>
        <a>
          <div class="navCircle" [ngStyle]="{backgroundColor: activityColor2}" (click)="activeCircle2(); pageNav('nav2')"></div>
        </a>
      </div>
  </div>
</div>
