<div class="pageContainer" autoscroll>
  <!-- PAGE ONE -->
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/PerfumeGenius']">
          <img src="/images/thumbnails/perfumehome.jpg" alt=""/>
          <span><p class="name">Perfume Genius</p></span>
  				<span><p class="category">Blake Ells</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/UpperRoom']">
          <img src="/images/thumbnails/upperroom.jpg" alt=""/>
          <span><p class="name">In The Upper Room</p></span>
  				<span><p class="category">Nicola Walls</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/PsychicHotline']">
          <img src="/images/thumbnails/psychic.gif" alt=""/>
          <span><p class="name">Psychic Hotline</p></span>
  				<span><p class="category">Ahmad Jackson</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/DeadBalloons']">
          <img src="/images/thumbnails/deadballoonshome.jpg" alt=""/>
          <span><p class="name italic">Dead Balloons</p></span>
  				<span><p class="category">Album by Dead Balloons</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SleepDrive']">
          <img src="/images/thumbnails/sleepdrive.jpg" alt=""/>
          <span><p class="name italic">Sleep Drive</p></span>
  				<span><p class="category">By Ant'lrd</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LostSloss']">
          <img src="/images/thumbnails/sloss1.jpg" alt=""/>
          <span><p class="name">Lost In The Sloss</p></span>
  				<span><p class="category">Elliott Moe</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/Marriage']">
          <img src="/images/thumbnails/tylerm.jpg" alt=""/>
          <span><p class="name"><i>Marriage</i> by Tyler Holmes</p></span>
  				<span><p class="category">Artist Interview</p></span>
        </a>
      </div>
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/Gag']">
          <img src="/images/thumbnails/gag.jpg" alt=""/>
          <span><p class="name">Gag</p></span>
  				<span><p class="category">Elliott Moe</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col five hvr-underline-reveal">
        <a [routerLink]="['/TheNick']">
          <img src="/images/thumbnails/nick.jpg" alt=""/>
          <span><p class="name">The Nick Still Rocks</p></span>
  				<span><p class="category">Jonathan Patrick</p></span>
        </a>
      </div>
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/HeavyUser']">
          <img src="/images/thumbnails/heavyuser.jpg" alt=""/>
          <span><p class="name">Heavy User</p></span>
          <span><p class="category">Video</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col seven hvr-underline-reveal">
        <a [routerLink]="['/LaundryPunk']">
          <img src="/images/thumbnails/laundry.jpg" alt=""/>
          <span><p class="name">Laundry Punk</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
  </div>
</div>
