<div class="pageContainer" #scrollMe>
  <!-- PAGE ONE -->
  <div class="pageHome" *ngIf="page == 'page1'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BikeJoustV']">
          <img src="/images/thumbnails/bikejousthome.jpg" alt=""/>
          <span><p class="name">Bikw Joust V</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DieTrying']">
          <img src="/images/thumbnails/zerohome.jpg" alt=""/>
          <span><p class="name">DIE TRYING</p></span>
  				<span><p class="category">Sniper Streets</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Sandlings']">
          <img src="/images/thumbnails/sandlingp.jpg" alt=""/>
          <span><p class="name">Sandlings</p></span>
  				<span><p class="category">Alastair Bartlett</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LostLands']">
          <img src="/images/thumbnails/lostlands.jpg" alt=""/>
          <span><p class="name">Lost Lands</p></span>
  				<span><p class="category">Bryan Atkinson</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/TheMalverns']">
          <img src="/images/thumbnails/the_malverns.jpg" alt=""/>
          <span><p class="name">The Malverns</p></span>
  				<span><p class="category">Ted Homer</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CrackerPackers']">
          <img src="/images/thumbnails/crackerpackers.jpg" alt=""/>
          <span><p class="name">Cracker Packers</p></span>
  				<span><p class="category">Matthew MacPake</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/NoNames']">
          <img src="/images/thumbnails/tyronp.jpg" alt=""/>
          <span><p class="name">Where The Streets Have No Names</p></span>
  				<span><p class="category">Tyron Hug</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MurderedGhouls']">
          <img src="/images/thumbnails/andrewp.jpg" alt=""/>
          <span><p class="name">Murdered By Ghouls</p></span>
  				<span><p class="category">Andrew Dominguez</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Ireland']">
          <img src="/images/thumbnails/irelandp.jpg" alt=""/>
          <span><p class="name">Ireland</p></span>
  				<span><p class="category">Rachel McElroy</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/NYPerspectives']">
          <img src="/images/thumbnails/victoriap.jpg" alt=""/>
          <span><p class="name">New York Perspectives</p></span>
  				<span><p class="category">Victoria Vrublevska</p></span>
        </a>
      </div>
    </div>
  </div>
  <!-- PAGE TWO -->
  <div class="pageHome" *ngIf="page == 'page2'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ThomasHall']">
          <img src="/images/thumbnails/thomas.jpg" alt=""/>
          <span><p class="name">Thomas Hall</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MilesTwist']">
          <img src="/images/thumbnails/miles_p.jpg" alt=""/>
          <span><p class="name">Miles Twist</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/YoavPelli']">
          <img src="/images/thumbnails/yoavp.jpg" alt=""/>
          <span><p class="name">Yoav Pelli</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/EndangeredSpecies']">
          <img src="/images/thumbnails/endangeredp.jpg" alt=""/>
          <span><p class="name">Endangered Species</p></span>
  				<span><p class="category">Josh Ethan Johnson</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/WisconsinWinter']">
          <img src="/images/thumbnails/calliep.jpg" alt=""/>
          <span><p class="name">Wisconsin Winter</p></span>
  				<span><p class="category">Callie Mills</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LastGeneration']">
          <img src="/images/thumbnails/last_gen_p.jpg" alt=""/>
          <span><p class="name">The Last Generation</p></span>
  				<span><p class="category">Eduardo Urbina</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/ByronSonnierPhotography']">
          <img src="/images/thumbnails/byronp.jpg" alt=""/>
          <span><p class="name">Byron Sonnier</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/IslaDeMagia']">
          <img src="/images/thumbnails/islademagiap.jpg" alt=""/>
          <span><p class="name">Isla De Magia</p></span>
  				<span><p class="category">Camila Escobar</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BryanArnold']">
          <img src="/images/thumbnails/bryan.jpg" alt=""/>
          <span><p class="name">Brian Arnold</p></span>
  				<span><p class="category">Photography</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/FiestaBham']">
          <img src="/images/thumbnails/fiesta.jpg" alt=""/>
          <span><p class="name">Fiesta Birmingham '16</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
  </div>
  <!-- PAGE THREE -->
  <div class="pageHome" *ngIf="page == 'page3'">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Untitled']">
          <img src="/images/thumbnails/untitledp.jpg" alt=""/>
          <span><p class="name">Untitled</p></span>
  				<span><p class="category">Andrew Dominguez</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Cyclefest16']">
          <img src="/images/thumbnails/cyclefestp.jpg" alt=""/>
          <span><p class="name">Cyclefest '16</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Aerius']">
          <img src="/images/thumbnails/rope.jpg" alt=""/>
          <span><p class="name">Aerius</p></span>
  				<span><p class="category">Performance by Jennifer Colvin</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/FashionWeek']">
          <img src="/images/thumbnails/bfw2p.jpg" alt=""/>
          <span><p class="name">Fashion Week '16</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Skate']">
          <img src="/images/thumbnails/davidp.jpg" alt=""/>
          <span><p class="name">Skate</p></span>
  				<span><p class="category">David Sheetz</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/TwilightChildren']">
          <img src="/images/thumbnails/christianp.jpg" alt=""/>
          <span><p class="name">Twilight Children</p></span>
  				<span><p class="category">Chris Bernsten</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BLMProtest']">
          <img src="/images/thumbnails/blmp.jpg" alt=""/>
          <span><p class="name">Black Lives Matter Protest</p></span>
  				<span><p class="category">Photo Story</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/SkateParkFundraiser']">
          <img src="/images/thumbnails/skatep.jpg" alt=""/>
          <span><p class="name">Skate Park Fundraiser</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Zine']">
          <img src="/images/thumbnails/daniel.png" alt=""/>
          <span><p class="name">Zine</p></span>
  				<span><p class="category">Daniel Lawson</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Film']">
          <img src="/images/thumbnails/filmleitas.jpg" alt=""/>
          <span><p class="name">Film</p></span>
  				<span><p class="category">Leita Turner</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
    <div class="rows">
        <div class="pageNav">
          <a>
            <div class="navCircle" [ngStyle]="{backgroundColor: activityColor1}" (click)="activeCircle1(); pageNav('nav1')"></div>
          </a>
          <a>
            <div class="navCircle" [ngStyle]="{backgroundColor: activityColor2}" (click)="activeCircle2(); pageNav('nav2')"></div>
          </a>
          <a>
            <div class="navCircle" [ngStyle]="{backgroundColor: activityColor3}" (click)="activeCircle3(); pageNav('nav3')"></div>
          </a>
        </div>
    </div>
  </div>
</div>
