<div class="pageContainer">
  <div class="pageHome">
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/BikeJoustV']">
          <img src="/images/thumbnails/bikejousthome.jpg" alt=""/>
          <span><p class="name">Bikw Joust V</p></span>
  				<span><p class="category">Mateo Montoya</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/DieTrying']">
          <img src="/images/thumbnails/zerohome.jpg" alt=""/>
          <span><p class="name">DIE TRYING</p></span>
  				<span><p class="category">Sniper Streets</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Sandlings']">
          <img src="/images/thumbnails/sandlingp.jpg" alt=""/>
          <span><p class="name">Sandlings</p></span>
  				<span><p class="category">Alastair Bartlett</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/LostLands']">
          <img src="/images/thumbnails/lostlands.jpg" alt=""/>
          <span><p class="name">Lost Lands</p></span>
  				<span><p class="category">Bryan Atkinson</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/TheMalverns']">
          <img src="/images/thumbnails/the_malverns.jpg" alt=""/>
          <span><p class="name">The Malverns</p></span>
  				<span><p class="category">Ted Homer</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/CrackerPackers']">
          <img src="/images/thumbnails/crackerpackers.jpg" alt=""/>
          <span><p class="name">Cracker Packers</p></span>
  				<span><p class="category">Matthew MacPake</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/NoNames']">
          <img src="/images/thumbnails/tyronp.jpg" alt=""/>
          <span><p class="name">Where The Streets Have No Names</p></span>
  				<span><p class="category">Tyron Hug</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/MurderedGhouls']">
          <img src="/images/thumbnails/andrewp.jpg" alt=""/>
          <span><p class="name">Murdered By Ghouls</p></span>
  				<span><p class="category">Andrew Dominguez</p></span>
        </a>
      </div>
    </div>
    <div class="rows mainRows lastrow">
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/Ireland']">
          <img src="/images/thumbnails/irelandp.jpg" alt=""/>
          <span><p class="name">Ireland</p></span>
  				<span><p class="category">Rachel McElroy</p></span>
        </a>
      </div>
      <div class="col six hvr-underline-reveal">
        <a [routerLink]="['/NYPerspectives']">
          <img src="/images/thumbnails/victoriap.jpg" alt=""/>
          <span><p class="name">New York Perspectives</p></span>
  				<span><p class="category">Victoria Vrublevska</p></span>
        </a>
      </div>
    </div>
  </div>
  <div class="rows">
      <div class="pageNav">
        <a [routerLink]="['/photography']">
          <div class="navCircle" [ngStyle]="{backgroundColor: activeCircle}"></div>
        </a>
        <a [routerLink]="['/photography/2']">
          <div class="navCircle" [ngStyle]="{backgroundColor: unactiveCircle}"></div>
        </a>
        <a [routerLink]="['/photography/3']">
          <div class="navCircle" [ngStyle]="{backgroundColor: unactiveCircle}"></div>
        </a>
      </div>
  </div>
</div>
