<div class="pageContainer">
  <div class="guidelines">
    <p class="guidehead">Thank you for your interest in submitting to Fourteen76! We look forward to seeing your work. Please include the following so that we can better understand the pieces you will be submitting:</p>
    <div class="guidepoints">
      <p class="guidep">A short bio. Your name, where you are from, and any education you may have received pertaining to your work. Also, when you became concerned with the realm of art, whether that be professionally or just in general; the spark that truly drew you in</p>
      <p class="guidep">A small statement regarding the pieces in question, your approach to these pieces, and any influences on them and on you as an artist</p>
      <p class="guidep">The pieces themselves and their titles (if they have titles)</p>
      <p class="guidep">When it comes to photography submissions, we ask for a minimum of 5 images. There is no limit to how many we can receive</p>
      <p class="guidep">There is no preference on file submission system. Dropbox, Google Drive, WeTransfer, and any other file sharing platforms are accepted</p>
      <p class="guidep">We truly appreciate your time and are always looking to grow the community of artists we’ve been lucky enough to showcase on the website. We are a small unpaid staff and interviews are sent out in order of which we receive submissions. Thank you for your patience, if it comes down to you having to practice any. Feel free to email us with any other questions. We will be in touch!</p>
      <p class="guidep">Your art buds,<br>Fourteen76 Staff</p>
    </div>
  </div>
  <div class="submitemails">
    <p class="guidehead">Submit your work to one of the emails below</p>
    <div class="submitemailimg">
      <div class="emailblock">
        <p class="emailblockhead">Artists</p>
        <p class="emailblockemail">artists@fourteen76.com</p>
        <a href="mailto:artists@fourteen76.com?Subject=Artist%20Submission" target="_blank"><img src="/images/icons/email.png" alt="" class="hvr-buzz"></a>
      </div>
      <div class="emailblock">
        <p class="emailblockhead">Photographers</p>
        <p class="emailblockemail">photography@fourteen76.com</p>
        <a href="mailto:photography@fourteen76.com?Subject=Photography%20Submission" target="_blank"><img src="/images/icons/email.png" alt="" class="hvr-buzz"></a>
      </div>
      <div class="emailblock">
        <p class="emailblockhead">Writers</p>
        <p class="emailblockemail">writing@fourteen76.com</p>
        <a href="mailto:writing@fourteen76.com?Subject=Writing%20Submission" target="_blank"><img src="/images/icons/email.png" alt="" class="hvr-buzz"></a>
      </div>
      <div class="emailblock">
        <p class="emailblockhead">For any other inquiries</p>
        <p class="emailblockemail">contact@fourteen76.com</p>
        <a href="mailto:contact@fourteen76.com" target="_blank"><img src="/images/icons/email.png" alt="" class="hvr-buzz"></a>
      </div>
    </div>
  </div>
</div>
