<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">Review of <i>Dead Balloons</i></p>
        <p class="writtenby">{{postSubtitle}}</p>
        <p class="writtenby">{{postSubtitlePhoto}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers">Honest, non-ironic rock n'roll is scant these days. Understandably, in the past, tongue-in-cheek, cleverly quick to quip lyricists have stood out above other grains by going against them. There is a point in every day, however, when all the sunflowers see the sun and they face the same direction, trying to soak up the most light like all the rest around them. And however many have tried, let’s be real, not every lyricists is a natural Stephen Malkmus or Fiona Apple. So when the flood of angst-ful assholes becomes emboldened by the stand apart, clever few among them, the lyrical atmosphere tied to snark-rock starts feeling overly pushy and loses its initial shimmer. The Dead Balloons’ self-titled first full length avoids the allure of cool, producing a true-to-self, however scattered, rock n’roll effort.</p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageTwo}} alt="">
      </div>
    </div>
    <p class="answers">If you’re unfamiliar with the group, let’s start with the basics. These dudes have a tight rhythm section. Tracks like the opener “Stand Up” and “Another Reaction” lilt in and out of gentle summer grooves that fit as comfortable as a lazy day spent porching. Tight to loose guitar riffing teeters on the edge of the indiscernible at times, but is held together by metronomic drumming. However held down the rhythm section is throughout the album, the group performs best with tight-knit overdriven jams. The band’s extended jams sometimes begin to meander a little indulgently, however, and I find myself asking, to where?</p>
    <p class="answers">The record definitely isn’t hurting for lack of ideas. At a healthy 15-track mark, the contrary seems to be the case. With accompaniment and overdubbing the sound is full and the band is sure of what they’re up to, though overdubbing is sometimes sporadic, leaving space to be filled in the midst of overactive rhythmic chugs that seem to be compensating. Tracks like “Nothing At All” and surf jam “Esmeralda” are begging to be fleshed out with more thought and instrumentation.</p>
    <p class="answers">Sore thumbs like “Bobby Sikes” seem a little forced into the puzzle. It doesn’t sound necessarily unlike the Dead Balloons, but rather time-warped forward or backward in time, finding itself on the wrong release. An identity crisis exists.</p>
    <p class="answers">Siefert’s vocals are most convicted in “Let’s Go To Charlie’s House.” The drums break away from gentle swing and for the first time during the album, I’m convinced. Tremolo tones quiver for a moment as if asking a question immediately answered by cocksure, warm-toned riffing, and smart ass swing rhythm swaggers toward the end of the song. Something cohesive clicks here and, “Esmeralda” aside, the crisis is resolved through the rest of the album. “St. Peter’s House” stands out as the most naturally full and composed track on the release. A warm mix of folk and worldly sounds reminiscent of Brother, Sister era mewithouyou and the more straightforward moments of <i>Yellow House’s</i> aesthetic.</p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageThree}} alt="">
      </div>
    </div>
    <p class="answers">If the Dead Balloons could take only one thing from this release, it’s that they stand apart from most acts’ early releases in that they end stronger than they began. If this album started with “Stand Up” and skipped wandering fluff lying in between “34” and “Let’s Go To Charlie’s House,” I’d be happy. To emphasize, an identity crisis exists here, but in their moments of lucidity the Dead Balloons have got a little breath of life lifting within them. I’m not the only one interested in seeing how high it might take them.</p>
    <div class="shoutout">
      <a class="hvr-shrink" href="http://store.steppepper.com/album/dead-balloons-2" target="_blank">
        <img src="/images/icons/website.png" alt="">
        <p>Listen to <i>Dead Balloons</i></p>
      </a>
    </div>
  </div>
</div>
