<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
      <p class="imgcaption">From Jordan Eagles' installation at Abroms-Engel Institute for the Visual Arts</p>
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="writtenby">{{postSubtitle}}</p>
        <p class="writtenby">{{postSubtitlePhoto}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers">"It's not productive to the movement if I'm the focus," Jordan Eagles said into his phone. He was speaking to a member of his marketing team in New York about a promotional video for his piece, Blood Mirror, a seven foot tall glass monolith filled with the blood of 59 donors denied the right to give blood due to their sexual orientation.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageTwo}} alt="">
        <p class="imgcaptionCenter">Blood Mirror. Photo provided by Jordan Eagles</p>
      </div>
    </div>
    <p class="answers">After a little further coaxing, a new promo was sent to Eagles that included the names of the original nine donors, now permanently a part of Blood Mirror. "You can't reduce activism -- an entire movement -- down to 'Art by So and So,'" Eagles concluded as we wrapped up lunch and started walking toward the BCRI (Birmingham Civil Rights Institute) to see about the logistics of hauling a few hundred pounds of tall, fragile sculpture into the building.</p>
    <p class="answers">Blood Mirror opened Sept. 22 at the BCRI as the first part of One In Our Blood, a collaborative series of art openings and panel discussions raising awareness for Blood Equality through December. The sculpture stands as a pillar of protest against medically dated laws and social stigmas toward those living with HIV/AIDS. According to Eagles, its intent is to unite, not polarize.</p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageThree}} alt="">
        <p class="imgcaptionCenter">Community Pint</p>
      </div>
    </div>
    <p class="answers">"The idea is that blood at its base can't determine whether someone is wealthy, can't tell if they're famous, or how many Instagram followers they have...For me to share this work in Birmingham, where we can look at the history of blood donation and see someone like Dr. Charles R. Drew, who invented blood banking, who couldn't donate blood to the system he created due to racial segregation...it's almost like history is repeating itself...in a negative way. But at the end of the day, regardless of what your political beliefs are, regardless of your race, sexual orientation, economic status, we're the same. We all have blood," said Eagles.</p>
    <p class="answers">Eagles went on to explain that anti-stigma and fair blood donation policies for the LGBTQ community are equally important to the piece, although the factor that all mankind is bound by blood resonates particularly heavily with Blood Mirror. "There are larger human issues that deeply inspire me with this work," he said.</p>
    <p class="answers">Larger human issues indeed. A recent UCLA Williams Institute study by Ayako Miyashita and Gary J. Gates concluded that lifting the current one year celibacy requirement for homosexual men to donate blood could bring in up to 615,300 more pints of blood each year, a two to four percent increase. These donations could be used to save over 1 million lives annually.</p>
    <p class="answers">The social stigma surrounding HIV/AIDS is unparalleled, largely founded in the general public's lack of education on the state of modern treatments and testing. Eric Sawyer, Vice President of Public Affairs and Policy of GMHC (Gay Men's Health Crisis), shared a couple humbling stories pertaining to the isolation gay men faced during the height of the HIV/AIDS pandemic in the mid '80s.</p>
    <p class="answers">"[At the beginning], because of the lack of knowledge about how it was spread and how to prevent getting it, because there were no treatments, because it was a sure fire death sentence, the stigma and discrimination that developed around HIV was strong and ugly and still persists today," said Sawyer.</p>
    <p class="answers">He continued, "[In] one instance, my partner and I went into a restaurant to have breakfast...Scott sat down looking like a 125 pound skeleton, having lost all of his hair, and it was obvious that he was a person living with HIV. This waitress came over to us after Scott had taken a sip of his water...carrying a garbage can. She took the glass out of his hand, threw it in the garbage, swept all of the silverware into the garbage can, and started yelling, 'Get out! Get out! We don't treat diseased faggots in here!' That was symbolic of the kind of discrimination and hatred that people with AIDS faced."</p>
    <p class="answers">Remnants of this discrimination still linger, and are, according to Dr. Mike Saag, Director of the Center for AIDS Research at UAB, holding efforts back from defeating the disease.</p>
    <p class="answers">Dr. Saag has been on the front lines of HIV/AIDS research since the early '80s. UAB made unprecedented advancements in treating and testing the disease, including the first use of multiple drugs at once in a "cocktail" that laid the groundwork for preventative, or PrEP, medications like Truvada. UAB researchers also boast the development of the first measurements of viral load in the bloodstream in the world. This test reveals if someone is infected even before the regular blood test is positive, a crucial part of keeping the blood supply safe.</p>
    <p class="answers">Saag explained that in the early stages of the pandemic exclusion was necessary because the disease wasn't yet understood. However, for almost two decades now, tests and procedures have been up to the task of properly assessing at-risk blood donations.</p>
    <p class="answers">"By 2000, the testing had become remarkably effective and when we combine that with...self exclusion [from the blood donation process]...for example, unprotected sex in the past two weeks--of anyone, it doesn't matter if they're men or women--or someone who has shared needles in the past two weeks, these are the only vulnerable periods in which the tests might miss. That's talking on the order of about 1 in 10 million people. Well, that risk is less than the risk of us getting killed in a plane crash," said Saag.</p>
    <p class="answers">When asked specifically whether erasing the stigma behind HIV/AIDS by means of education would help fight the disease, Dr. Saag replied, "Yes, because a lot of people who are at the highest risk are afraid to let a potential partner know that they might be at risk, or that they may even have HIV."</p>
    <p class="answers">He continued, "What a lot of people don't realize is that if someone is tested and they are positive and they get into care and they get on successful therapy and their virus goes under detectable levels, not only will they live a normal lifespan within reason, they won't transmit the virus to other people so long as they are on treatment."</p>
    <p class="answers">Modern advancements are recognized as more than sufficient by professionals in the field of HIV/AIDS research. As with any social issue, however, the decision doesn't lie in the hands of the professionals, but within the solidarity and actions of the people. Currently, Blood Mirror sits aside the Declaration of Human Rights at BCRI, and aptly so. The results are in, the science has given the green light, but decades of discrimination and stigma are keeping the rights of potential donors and precious blood donations tethered in the ether.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageFour}} alt="">
        <p class="imgcaptionCenter">A counter part to Blood Mirror, this piece is comprised of the medical waste used to create Blood Mirror</p>
      </div>
    </div>
    <p class="answers" style="text-align: center">For resources regarding HIV/AIDS testing, treatment, counseling, and involvement, visit <a href="http://gmhc.org/" target="_blank">gmhc.org</a></p>
  </div>
</div>
