<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title"><i>{{postTitle}}</i> by Tyler Holmes</p>
        <p class="writtenby">{{postSubtitle}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="question">How long have you been making music?</p>
    <p class="answers">I've been experimenting with sound for about 10 years, 'music' maybe 7.</p>
    <p class="question">Any particular influences driving you right now?</p>
    <p class="answers">I'm really influenced by Black people surviving in the US, the QPOC community, single parents, anyone fighting patriarchy, plutocracy and standing up to ignorant assholes in general.</p>
    <p class="answers">Music wise i'm into Tricky, Anohni, Grimes, Missy Elliott, Dan Boeckner (Handsome Furs, Operators,) Grouper, Xiu Xiu, Hyphy Music, Holly Herndon, Mykki Blanco, Cat Power and San Cha Y Las Sirenas & Vainhein; my babies! In Tennessee I saw a rapper named DELISH from NOLA and that shit was fire, i haven't had that much fun at a show in a long time.</p>
    <p class="answers">I'm also really into 90s /early 2000s movies; Gregg Araki, Todd Solondz and all the classics; Clueless, Mean Girls (THE BIBLE), Romy and Michelle…</p>
    <p class="question">If you could classify your music under a genre, what would it be?</p>
    <p class="answers">always changing. currently its…like… ambient, pop, electro-acousitc, experimental, noise, r&b, hip-hop so…</p>
    <p class="answers">Ghost Gospel?</p>
    <p class="answers">Church For Sluts?</p>
    <p class="answers">Slutty Ghost?</p>
    <p class="question">So tell me about Marriage. What themes would you say are most prevalent in the album?</p>
    <p class="answers">The record is about divorcing one’s self from toxic ideas, pathologies,traumas relationships,fears and hurt feelings to survive. There's a lot of fear, love,sex and violent trauma being exorcised. There was a lot that i wanted to let go on this record, let's see if now that its out if i actually let the things go for real LOL.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageTwo}} alt="">
      </div>
    </div>
    <p class="question">How was the process of recording it? Why Tape?</p>
    <p class="answers">The initial ideas for the album came over three years ago.</p>
    <p class="answers">One song i created with Keith Tadashi Kubota ( One Seven One Nine,) a long time friend and producer who worked with us on 'Google Google Apps Apps' with Persia and Daddie$ Pla$tik and countless other tracks with the gang.</p>
    <p class="answers">For the rest of the record I spent the greater part of that 3 year period recording with E (Eric of SF band PARAE) in SF in the tenderloin. I wanted to make it sound really diverse so i used very new and very old material and pushed myself to play new instruments and try new things. I played the mandolin, hammered dulcimer, electric bass, glockenspiel. All of which were very new to me but it was as fun as it was scary and i'm happy with the result.</p>
    <p class="answers">Thanks for going through the trouble of buying a tape player to play 'Marriage.' I released it on tape because that's what Cool World Records, the label, makes. I have a tape player and i use a tape recorder as an instrument in live shows so it seemed fully logical for my analog ass to put out a tape. In 'The Psychick Bible' Genesis talks about the tape recorder as a weapon and i am a firm believer. I'm pretty sure my next release is going to be a tape as well this Fall.</p>
    <p class="question">How was your performance at Idapalooza?</p>
    <p class="answers">LOL i actually performed 3 times at IDA! my 1st day there, actually the 2nd day of the festival i played at 12:30am I sang, rapped and sequenced the 404, played tape recorder and synth. I was an interim angel in the 3 part choir for San Cha Y Las Sirenas AND for the talent show Daddi$ Pla$tik (San Cha, vainhein, and myself) created a supergroup with Project Rage Queen called 'Vaca Bruja' which featured saxophone, writhing and screaming and me in a long black wig face down on the floor playing synth with all of my appendages.</p>
    <p class="question">How is the queer music scene in Oakland?</p>
    <p class="answers">There are a lot of great queer artists still in Oakland that have yet to move to LA and they are making and releasing great work but the problem is all of the cool places for broke brown queerdos to play non-punk are closing down. Even the punk venues to be honest. All the marginalized groups were forced to co-exist and to perform in the same crusty spaces and that made us all grow and love our lives a tiny bit but now all of those places are closing because of gentrification.</p>
    <p class="question">Have you started touring yet?</p>
    <p class="answers">A little bit. IDA would be the start of my 'tour' i guess. I played a couple shows here in the bay, i'm doing a show with Cool World Records at Pehrspace Gallery in LA (which i believe is also being forced to move.)Then i'm coming back to the bay to play a few more shows then probably back to recording.</p>
    <p class="question">So far, what’s your craziest performance memory?</p>
    <p class="answers">My Uncle plays drums in a blues band that plays Sundays every Spring at the oldest bar in San Francisco, The Saloon. I was there in a full face with my mother, i sang a couple tracks with the band and then was hanging out. I saw from across the room a man showing some weird aggressive body language to my mother. Little did i know he had just called her a 'Jew Bitch.' So, i went up to this very drunk person and gently was trying to escort them out because the security in this tiny bar had not noticed the incident. He was going calmly and then suddenly shrank down flipped around and punched me in the mouth, I proceeded to hit him on the top of the head and he went down, it was only then that everyone noticed the black man with makeup on punching the elderly drunk. But luckily he was escorted and out and i was fine because my mother was there to corroborate.</p>
    <p class="answers centerItalic">Check out Tyler’s latest album Marriage on the link below, and show our dead Oakland girl some love!</p>
    <div class="shoutout">
      <a class="hvr-shrink" href="https://tylerholmes.bandcamp.com/" target="_blank">
        <img src="/images/icons/website.png" alt="">
        <p>Listen to <i>Marriage</i></p>
      </a>
    </div>
  </div>
</div>
