<div class="pageContainerPost">
  <div class="headImage">
    <div class="image imageSmall">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="writtenby">{{postSubtitle}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers">{{paragraphs.m1}}</p>
    <p class="answers">{{paragraphs.m2}}</p>
    <p class="question">{{paragraphs.q1}}</p>
    <p class="answers">{{paragraphs.a1}}</p>
    <p class="answers">{{paragraphs.a1p2}}</p>
    <p class="question">{{paragraphs.q2}}</p>
    <p class="answers">{{paragraphs.a2}}</p>
    <p class="question">{{paragraphs.q3}}</p>
    <p class="answers">{{paragraphs.a3}}</p>
    <p class="answers">{{paragraphs.a3p2}}</p>
    <p class="question">{{paragraphs.q4}}</p>
    <p class="answers">{{paragraphs.a4}}</p>
    <p class="question">{{paragraphs.q5}}</p>
    <p class="answers">{{paragraphs.a5}}</p>
    <p class="question">{{paragraphs.q6}}</p>
    <p class="answers"><i>Nebraska</i>. That’s the one that I’ve spent a lot of time with as an album, beyond just listening to the hits and stuff.</p>
    <p class="question">{{paragraphs.q7}}</p>
    <p class="answers">Maybe not <i>anywhere</i> else, but I just think young people in general aren’t accepting. I don’t think it’s easy for any young person that’s different anywhere. It’s relative; it’ll be <i>worse</i>, you’ll have a worse childhood somewhere that’s widely super conservative or religious than somewhere that’s more liberal. But kids are still vicious psychopaths, I think. Some people never grow out of it, but some people do. And I’m sure it was easier for me then than it was 20 years earlier being a feminine, weird guy.</p>
    <p class="answers">{{paragraphs.a7p2}}</p>
    <p class="question">{{paragraphs.q8}}</p>
    <p class="answers">I got the Liz Phair CD <i>Exile in Guyville</i> when I was 13 and that completely changed music for me. I was mostly listening to Top 40 and pop music until I was 12, then I got that album with my babysitting money.</p>
    <p class="answers">I stole a <i>SPIN magazine</i> from the grocery store. There was an article about her in it and it talked about how scandalous her lyrics were and how she’d had problems with stage fright. I became very interested in it and I got the album and it scandalized me, but in the best way. I didn’t know you could talk about those things, let alone sing about them. And she was singing about sex in such a proud, unashamed, unapologetic way. All of those feelings to me were very shameful [laughs]. So that was really moving to me.</p>
    <p class="question">{{paragraphs.q9}}</p>
    <p class="answers">{{paragraphs.a9}}</p>
    <p class="answers">{{paragraphs.a9p2}}</p>
    <p class="question">{{paragraphs.q10}}</p>
    <p class="answers">{{paragraphs.a10}}</p>
    <p class="answers">{{paragraphs.a10p2}}</p>
    <p class="answers">{{paragraphs.a10p3}}</p>
    <p class="question">{{paragraphs.q11}}</p>
    <p class="answers">{{paragraphs.a11}}</p>
    <p class="answers">{{paragraphs.a11p2}}</p>
    <p class="question">{{paragraphs.q12}}</p>
    <p class="answers">{{paragraphs.a12}}</p>
    <p class="answers">{{paragraphs.a12p2}}</p>
    <p class="answers">{{paragraphs.a12p3}}</p>
    <p class="question">{{paragraphs.q13}}</p>
    <p class="answers">{{paragraphs.a13}}</p>
    <p class="question">{{paragraphs.q14}}</p>
    <p class="answers">{{paragraphs.a14}}</p>
    <p class="question">{{paragraphs.q15}}</p>
    <p class="answers">{{paragraphs.a15}}</p>
    <p class="question">{{paragraphs.q16}}</p>
    <p class="answers">{{paragraphs.a16}}</p>
  </div>
</div>
