<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="writtenby">{{postSubtitle}}</p>
        <p class="writtenby">{{postSubtitlePhoto}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers"></p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageTwo}} alt="">
      </div>
    </div>
    <p class="answers"></p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageThree}} alt="">
      </div>
    </div>
    <p class="answers"></p>
    <div class="shoutout">
      <a class="hvr-shrink" href="https://psychich0tline.bandcamp.com/" target="_blank">
        <img src="/images/icons/website.png" alt="">
        <p>Phone Sex</p>
      </a>
      <a class="hvr-shrink" href="https://www.instagram.com/psychic_handjob/" target="_blank">
        <img src="/images/icons/insta.png" alt="">
        <p>psychic_handjob</p>
      </a>
    </div>
  </div>
</div>
