<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="writtenby">{{postSubtitle}}</p>
        <p class="writtenby">{{postSubtitlePhoto}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers">Rock n' Roll sans sticky dives is like a family lacking its con uncle, like mud minus hot, sweet dirt; that lil bit of grit, an essential ingredient in the mix of what makes a memory worth a smile. There's some fucked, mild magic in the intimacy gained while piled inside a spooky rock clubs' most American moments. Insert experience:</p>
    <p class="answers"><b>1.</b> You're broke, your girl left you cause you're broke, you're drinking at this damn dive because you're broke and you're one of 7 others, minus band and bartenders, whose souls, bound at 12:17 am on a Tuesday, are going for broke, when suddenly, the drummer locks in, the vocals step back, and you hear a lick that let's you know empathy exists, that the cat on the strings has known exactly what it is, your despair, and it turns out he can express it better than you, without words.</p>
    <p class="answers"><b>2.</b> It's 28 degrees on a Saturday night in January and the dude you've been trying to get naked for a week's favorite up-and-coming from Boston is playing. You park, fear for your life in the lot, throw a five at the the door dude, you walk in and ~DAMN~ it's crammed like spam in a can and has got to be at least 120 fahrenheit in this oven-hell. You grab a drink, throw caution to the wind, take off your jacket, and by the end of it, you're toting home a boy and the best album you've heard in a year. As always, the longevity of the album far surpasses that of the boy.</p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageTwo}} alt="">
      </div>
    </div>
    <p class="answers">When it comes to such a necessary aesthetic, the Nick delivers, and has delivered, and will continue to deliver until time has run full circle and it's the late 80s and Henry Rollins is once again spitting spoken word on the patio for the underage kids that couldn't afford a fake I.D. in time to catch his set on the inside.</p>
    <p class="answers">Occasional leather rimmed, shithead neo-nazi punks aside (and sadly, honestly, what small venue can avoid them entirely. see: The Firehouse, The Forge, etc), as long as you, A) don't lean too hard on staple ridden surfaces, or, B) are up to date with your tetanus vaccination, the Nick is an oasal diamond, shimmering in the desert that is Birmingham's music scene. Not only because it exists, but because it nails (maybe staples) its main statement. Whoever's running the board that night, whether Dan the man, who'll give you a recording of your set when all's said and done, or Emmanuel Elinas, local sound guru, founder of Magnetic Audio, and acclaimed creator of stellar stompboxes as Sitori Sonics, it will sound full, balanced, and impressively professional for such a modest four walls.</p>
    <p class="answers">The history is there, the bands are there, the drinks are cheap, and one thing certainly stands, the Nick still rocks.</p>
  </div>
</div>
