<div class="pageContainerPost">
  <div class="headImage">
    <div class="image">
      <img src={{postImage}} alt="">
    </div>
  </div>
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="writtenby">{{postSubtitle}}</p>
        <p class="writtenby">{{postSubtitlePhoto}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href={{shareFacebook}} class="hvr-buzz" target="_blank"><img src="/images/icons/facebook.png" alt=""></a>
        <a href={{shareGoogle}} class="hvr-buzz" target="_blank"><img src="/images/icons/google.png" alt=""></a>
        <a href={{shareReddit}} class="hvr-buzz" target="_blank"><img src="/images/icons/reddit.png" alt=""></a>
        <a href={{shareTwitter}} class="hvr-buzz" target="_blank"><img src="/images/icons/twitter.png" alt=""></a>
        <a href={{shareEmail}} class="hvr-buzz" target="_blank"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers">If you happen to be unfamiliar with Zyp BikeShare, the initiative's aim is to provide a reliable and alternative source to getting from point A to point B. Zyp provides a new mode of transportation within Birmingham's city limits. Forty kiosks harboring four hundred bicycles are scattered throughout the city; from Uptown to Highlands, Zyp bikes are available to all. The bike share plays a crucial part in helping the city of Birmingham become a friendly and safe place for the ever-growing cycling community.</p>
    <p class="answers">A bike share could mean a great deal to those without a consistent mode of transportation. The City of Birmingham’s public transportation system has a reputation for lacking efficiency and consistency. A limited amount of buses, lack of stops, skipped stops, and long waiting periods between buses can cause frustration and discouragement. An abundance of readily available bikes offers a reliable mode of transportation, lending autonomy over the commuter's own schedule previously dictated by public transportation services. When asked about the activity of kiosks in neighborhoods such as Five Points, Highland, and Avondale, Michael Symes, sales & marketing manager at Zyp BikeShare, says, “It varies on the neighborhood, but stations in residential areas are some of our most active. For the neighborhoods with a lower usage rate, it may take more intentional engagement to change that activity, which is something we are working towards accomplishing.”</p>
    <p class="answers">Community is considered by taking a step back and understanding that budgets vary. A subsidy membership program labeled “Access for All” is provided with qualified members paying an annual membership fee of only $15.</p>
    <div class="midArticle">
      <div class="articleImageTwo">
        <div class="image">
          <img src={{postImageTwo}} alt="">
        </div>
      </div>
      <div class="articleImageTwo">
        <div class="image">
          <img src={{postImageThree}} alt="">
        </div>
      </div>
    </div>
    <p class="answers">If the thought of scaling the red hills of Birmingham on a bicycle doesn't sound too inviting, 100 of the 400 Zyp Bikes around town are equipped with a pedelec, an electric pedal assist to make that climb a breeze –– no joke, these assisted bikes fly. While electric assist can make braving traffic all the easier, the opportunity to increase your speed comes with the responsibility of safety education. Zyp handles that with Zyp-Tips, informational signs placed in curbs around popular locations. Educational safety courses are also offered at no cost on Zyp's website.</p>
    <p class="answers">The bike share trend is rising swiftly across the nation. With Zyp’s first birthday coming in October, Birmingham can glimpse the potential a bike share system holds for commuters and tourists alike. The integration of live GPS creates a heat map of most bike traveled areas; once a sufficient amount of data is gathered, Zyp plans to share this information with the City of Birmingham in order to help analyze cycling patterns. This data will point out the roads, paths, and patterns most used by cyclists throughout Birmingham. The city can then use this information to make those lanes safer for cyclists and motorists alike.</p>
    <div class="headImage articleImage">
      <div class="image">
        <img src={{postImageFour}} alt="">
      </div>
    </div>
    <p class="answers">Zyp has introduced the first secondary lock system that allows you to secure the bike when you are not near a dock and need a quick break. You popped a tire zipping through the park? No sweat, just insert the secondary lock system and call customer support. The GPS will mark the location and check your bike in, so you don’t run up your bike time. There is even an app that displays a map of available kiosks, records your current ride’s path, and keeps track of time to help the rider avoid going over the 45 minute rent window. With app in hand, you can walk up to the dock knowing that you are about to score a motorized Zyp bike and roll out.</p>
    <p class="answers">Michael Symes says that the program is exceeding early projections. A large goal is to help motorists realize that cycling in Birmingham is now a part of every day life and for there to be more awareness of people on bikes. Downtown’s revitalization efforts, expansion of UAB, breweries, and restaurants are putting Birmingham on the list of the cities in the southeast to visit. Providing public transport is essential to continue fueling positive progression in our city. Together, the cycling community and Zyp have an opportunity to set a standard of healthy living, tolerance, and higher quality of life.</p>
    <div class="midArticle">
      <div class="articleImageTwo">
        <div class="image">
          <img src={{postImageFive}} alt="">
        </div>
      </div>
      <div class="articleImageTwo">
        <div class="image">
          <img src={{postImageSix}} alt="">
        </div>
      </div>
    </div>
  </div>
</div>
