<div class="pageContainer">
  <div class="filterContainer">
    <li>
      <button [routerLink]="['all']" class="filter Fourhvr-underline-from-center" (click)="filter()">
        <p>All</p>
      </button>
    </li>
    <li>
      <button [routerLink]="['arts']" class="filter Onehvr-underline-from-center" (click)="filter()">
        <p>Arts</p>
      </button>
    </li>
    <li>
      <button [routerLink]="['music']"  class="filter Twohvr-underline-from-center" (click)="filter()">
        <p>Music</p>
      </button>
    </li>
    <li>
      <button [routerLink]="['community']"  class="filter Threehvr-underline-from-center" (click)="filter()">
        <p>Community</p>
      </button>
    </li>
  </div>
  <router-outlet></router-outlet>
</div>
