<div class="pageContainer">
  <div class="guidelines">
    <p class="guidehead">WE ARE ONE is a no-commission juried art auction featuring Alabama artists- both fresh faces and established talent. Inspired by WonderRoot’s “Imaginary Million,” created by Maggie Ginestra, WE ARE ONE provides a platform for artists of all backgrounds to exhibit, socialize, and collect each-others’ work.</p>
    <p class="guidehead">A three-person jury will select works by Alabama artists, covering a wide array of styles and media produced within the last three years. Each artist will submit one work for the auction and receive $10,000 in “imaginary money.” The phantom funds are the only currency accepted in the auction, allowing only participating artists to bid.</p>
    <p class="guidehead">Participating artists have the option to submit one additional work, on consignment, for sale at the gallery outside the auction. These artworks can be purchased by any event attendees.</p>
  </div>
  <div class="submitemails">
    <div class="guidehead">
      <a href="https://fourteen76.submittable.com/submit/102699/we-are-one" target="_blank" class="p hvr-buzz">SUBMIT YOUR WORK</a>
    </div>
    <div class="submitemailimg">
      <div class="emailblock">
        <p class="emailblockhead">Fourteen76 App Release Party @ Saturn</p>
        <p class="emailblockemail">200 41st Street South, Birmingham </p>
        <p class="emailblockemail">7pm-10pm February 1st</p>
      </div>
      <div class="emailblock">
        <p class="emailblockhead">Live Auction @ Stephen Smith Fine Art</p>
        <p class="emailblockemail">5104 Gary Avenue, Fairfield</p>
        <p class="emailblockemail">5pm-8pm Friday, February 23rd</p>
      </div>
    </div>
  </div>
</div>
