<div class="pageContainerPost">
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="authorPhoto">{{postSubtitle}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href={{shareFacebook}} class="hvr-buzz" target="_blank"><img src="/images/icons/facebook.png" alt=""></a>
        <a href={{shareGoogle}} class="hvr-buzz" target="_blank"><img src="/images/icons/google.png" alt=""></a>
        <a href={{shareReddit}} class="hvr-buzz" target="_blank"><img src="/images/icons/reddit.png" alt=""></a>
        <a href={{shareTwitter}} class="hvr-buzz" target="_blank"><img src="/images/icons/twitter.png" alt=""></a>
        <a href={{shareEmail}} class="hvr-buzz" target="_blank"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <iframe width="640" height="360" [src]="url" frameborder="0" allowfullscreen></iframe>
    <div class="descriptions" *ngIf="isDescription">
      <p class="headingTextCentral" *ngIf="isHeading">{{descriptionHeading}}</p>
      <p class="answers centerText" *ngFor="let description of descriptions">{{description}}</p>
    </div>
    <iframe width="700" height="420" [src]="url2" frameborder="0" allowfullscreen *ngIf="isUrl2"></iframe>
    <div class="shoutout" *ngIf="isSocial">
      <a class="hvr-shrink" href={{website.url}} target="_blank" *ngIf="isWebsite">
        <img src="/images/icons/website.png" alt="">
        <p>{{website.description}}</p>
      </a>
      <a class="hvr-shrink" href={{instagram.url}} target="_blank" *ngIf="isInstagram">
        <img src="/images/icons/insta.png" alt="">
        <p>{{instagram.description}}</p>
      </a>
    </div>
  </div>
</div>
