<div class="pageContainerPost">
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="authorPhoto">{{postSubtitle}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href="" class="hvr-buzz"><img src="/images/icons/facebook.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/google.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/reddit.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/twitter.png" alt=""></a>
        <a href="" class="hvr-buzz"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <div class="slideContainer">
      <swiper class="swiper" [config]="config">
           <div class="swiper-wrapper">
               <img class="swiper-slide" *ngFor="let image of images" [src]="image">
           </div>
           <div class="swiper-button-right"><img src="/images/icons/right.png" alt=""></div>
           <div class="swiper-button-left"><img src="/images/icons/left.png" alt=""></div>
      </swiper>
    </div>
    <div class="shoutout">
      <a class="hvr-shrink" href="http://www.byronsonnier.org/" target="_blank">
        <img src="/images/icons/website.png" alt="">
        <p>byronsonnier.org</p>
      </a>
      <a class="hvr-shrink" href="https://www.instagram.com/byronsonnier/" target="_blank">
        <img src="/images/icons/insta.png" alt="">
        <p>byronsonnier</p>
      </a>
    </div>
  </div>
</div>
