<div class="pageContainerPost">
  <div class="article">
    <div class="rows head">
      <div class="colPost six titlesContainer">
        <p class="title">{{postTitle}}</p>
        <p class="authorPhoto">{{postSubtitle}}</p>
      </div>
      <div class="colPost six shareon">
        <span><p>Share</p></span>
        <a href={{shareFacebook}} class="hvr-buzz" target="_blank"><img src="/images/icons/facebook.png" alt=""></a>
        <a href={{shareGoogle}} class="hvr-buzz" target="_blank"><img src="/images/icons/google.png" alt=""></a>
        <a href={{shareReddit}} class="hvr-buzz" target="_blank"><img src="/images/icons/reddit.png" alt=""></a>
        <a href={{shareTwitter}} class="hvr-buzz" target="_blank"><img src="/images/icons/twitter.png" alt=""></a>
        <a href={{shareEmail}} class="hvr-buzz" target="_blank"><img src="/images/icons/emails.png" alt=""></a>
      </div>
    </div>
    <p class="answers centerText">7:34am Fort Lauderdale</p>
    <p class="answers centerText">Covered in salty sweat, my vision felt tunneled and crusty after a night on the beach. Illustrations vocalist convinced us to leave our show directly after the set so that we could party with a tinder match. Notice that I said we slept on the beach? That's because they never agreed for us to stay at their house, they only wanted to grab a few drinks in the club district. Afterwards, we found ourselves in the back of the tour van being interrogated by Police.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageOne}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageTwo}} alt="">
      </div>
    </div>
    <p class="answers centerText">5:42pm Virgina Beach, Virginia</p>
    <p class="answers centerText">My favorite city on the east coast for two shitty reasons. The first reason is that every tourist shop I walked into had coffee mugs with the confederate flag on them. People there seemed to take pride in said flag, there was a wild mentality after the sunset. The second reason is that I met an odd realtor who insisted on buying every bit of merch that was available. The stipulation was that every member from the band had to sign it and they only bought one item at a time. I threw the business card away, but I still remember their name. Dude was a marketing genius.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageThree}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageFour}} alt="">
      </div>
    </div>
    <p class="answers centerText">11:09am Queens, NY</p>
    <p class="answers centerText">You ever hit a car? Did you then drive off?</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageFive}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageSix}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageSeven}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageEight}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageNine}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageTen}} alt="">
      </div>
    </div>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageEleven}} alt="">
      </div>
    </div>
    <p class="answers centerText">5:55am Rest Stop, Montanna</p>
    <p class="answers centerText">Ya know the creek in your neck when you fall asleep in a chair without a pillow? Replace 'that chair' with the front passenger seat of a 1995 GMC Van. We had to attempt some of our 12 hour drive from Salt Lake City Utah to Spokane Washington overnight. James and I woke up minutes before the sunrise at rest stop in Montanna. Walking through the hills between the mornings wind - I hope to do it again.</p>
    <div class="headImage articleImage">
      <div class="image imageSmall">
        <img src={{postImageTwelve}} alt="">
      </div>
    </div>
    <div class="shoutout">
      <a class="hvr-shrink" href="https://www.andrewdominguez.com/index/all" target="_blank">
        <img src="/images/icons/website.png" alt="">
        <p>andrewdominguez.com</p>
      </a>
      <a class="hvr-shrink" href="https://www.instagram.com/dumbingus/" target="_blank">
        <img src="/images/icons/insta.png" alt="">
        <p>dumbingus</p>
      </a>
    </div>
  </div>
</div>
